@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import './colors.css' layer(theme);

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@keyframes progress-stripes-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
